.btn{
	.transition(0.2s);
	.fp;
	margin: 0;
	padding: 0 20px;
	border : 0;
	height: 38px;
	line-height: 38px;
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	text-transform: uppercase;
	overflow: visible;
	color: #fff;
	outline: none;
	text-align: center;
	background: @cl;
	&:hover{
		background: darken(@cl,10%);
	}
}
.fileinputs {
	&:hover{
		input[type="button"] {
			background: darken(@cl,10%);
		}
	}
}