.r{
	text-align:right!important;
}
.c{
	text-align:center!important;
}
.l{
	text-align:left!important;
}
.j{
	text-align:justify!important;
}
.pull-left{
	float: left!important;
}
.pull-right{
	float: right!important;
}
.cleaner{
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
	float:none;
}
