// fonts
.fp {font-family: 'Open Sans',sans-serif;} // font primary
.fh {font-family: 'Open Sans',sans-serif;} // font header
.fi {font-family: 'poex-icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@c1: #333;
@c2: #e50004;
@c3: #f7f4e5;
@c4: #efe4c6;
@c5: #e9cf8c;
@c6: #e9a554;
@c7: #915d3a;
@c8: #f7b200;
@c9: #638700;
@c10: #2e0e01;

@cp: @c1; // color primary
@cl: @c2; // color link

// font sizes
@fsp: 18px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 1160px;
@content-width-md: 960px;
@content-width-sm: 740px;
@content-width-xs: 100%;
@content-padding: 20px;

// media query >>> @media @xs, @sm
@md: ~"(min-width: 992px) and (max-width: 1199px)";
@sm: ~"(min-width: 768px) and (max-width: 991px)";
@xs: ~"(max-width: 767px)";