#page-header {
	position: relative;
	background: @c2;
	&:before{
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		height: 7px;
		background: @c3;
	}
	.header_top {
		background: darken(@c2,8%);
	}
	.header_bottom {
		position: relative;
		overflow: hidden;
	}
	.logo {
		position: absolute;
		top: -32px;
		left: 10px;
		width: 23.2%;
		@media @sm, @xs {
			position: static;
			width: 33.3333%;
			margin: -30px auto 0;
		}
		@media @xs {
			width: 80%;
		}
	}
}
#col-left {
	float: left;
	width: 265px;
	margin: 63px 0;
	@media @sm, @xs {
		float: none;
		width: auto;
		margin: 20px 0 40px;
	}
}
#col-main {
	float: right;
	width: 795px;
	margin: 63px 0;
	@media @md {
		width: 600px;
	}
	@media @sm, @xs {
		float: none;
		width: auto;
		margin: 20px 0 40px;
	}
}
#col-bottom {
	padding: 68px 0 15px;
	background: @c7;
}
.label {
	.border-radius(0 6px 0 0);
	display: block;
	position: relative;
	float: left;
	height: 27px;
	line-height: 27px;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0 10px 0 12px;
	margin: 0 10px 0 0;
	background: @c2;
	&:before{
		position: absolute;
		content: '';
		left: 100%;
		top: 5px;
		border-right: 10px solid transparent;
		border-bottom: 22px solid @c2;
	}
	&.label-action {
		background: @c8;
		&:before{
			border-bottom-color: @c8;
		}
	}
	&.label-new {
		background: @c9;
		&:before{
			border-bottom-color: @c9;
		}
	}
}
.text-success {
	color: @c9;
}
.text-error {
	color: @c2;
}
.mod_menu-header {
	float: left;
	margin: 15px 0 15px 28%;
	width: 48%;
	@media @md {
		margin-left: 25%;
	}
	@media @sm, @xs {
		margin: 0 0 10px;
		width: auto;
		text-align: center;
		float: none;
	}
	ul {
		.rul;
		li {
			.rli;
			display: inline-block;
			font-weight: normal;
			color: #fff;
			font-size: 15px;
			line-height: 1.2;
			padding: 0 19px 0 0;
			&:before{
				content: '|';
				left: auto;
				right: 7px;
				top: 1px;
				font-size: 17px;
			}
			&:last-child {
				padding-right: 0;
				&:before{
					display: none;
				}
			}
			a {
				color: #fff;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_custom-user {
	position: relative;
	float: right;
	color: #fff;
	font-size: 15px;
	line-height: 1.2;
	margin: 20px 0 19px;
	text-align: right;
	width: 24%;
	padding: 0 80px 0 0;
	font-weight: normal;
	@media @md {
		width: 27%;
	}
	@media @sm, @xs {
		margin: 0 0 15px;
		padding: 0;
		float: none;
		width: auto;
		text-align: center;
	}
	&:before, &:after {
		.fi;
		content: '\e801';
		position: absolute;
		top: -5px;
		right: -10px;
		width: 90px;
		font-size: 24px;
		line-height: 1;
		text-align: center;
		@media @sm, @xs {
			display: none;
		}
	}
	&:after{
		top: -41px;
		font-size: 80px;
		content: '\e81d';
	}
	.mod-title {
		display: inline-block;
		font-weight: bold;
		margin: 0 5px 0 0;
	}
	a {
		color: #fff;
	}
}
.mod_search {
	.clearfix;
	float: left;
	width: 48%;
	padding: 0 11% 0 0;
	margin: 18px 0 10px 28%;
	@media @md {
		margin-left: 25%;
	}
	@media @sm {
		margin-left: 0;
		width: 50%;
	}
	@media @xs {
		margin: 0;
		width: auto;
		float: none;
		padding-top: 20px;
		padding-right: 20%;
		padding-bottom: 10px;
	}
	input[type="text"],input[type="search"] {
		.border-radius(6px);
		border: 0;
		height: 50px;
		padding: 15px 20px;
		margin: 0 -70px 0 0;
		font-size: 18px;
		float: left;
	}
	button {
		position: relative;
		left: 70px;
		background: none;
		padding: 12px 0 0;
		height: 50px;
		width: 70px;
		float: left;
		font-size: 0;
		&:hover{
			color: @c8;
		}
		&:before{
			.fi;
			content: '\e800';
			font-size: 37px;
			line-height: 25px;
		}
	}
}
.mod_custom-basket {
	position: relative;
	float: left;
	width: 24%;
	background: lighten(@c2,5%);
	@media @md {
		width: 27%;
	}
	@media @sm {
		width: 50%;
	}
	@media @xs {
		float: none;
		width: auto;
		text-align: center;
		background: none;
		margin: 0 0 10px;
	}
	&:before{
		position: absolute;
		content: '';
		left: 100%;
		top: 0;
		bottom: 0;
		width: 9999em;
		background: lighten(@c2,5%);
		@media @xs {
			display: none;
		}
	}
	a {
		position: relative;
		display: block;
		text-decoration: none;
		color: #fff;
		padding: 22px 80px 20px 40px;
		font-size: 16px;
		line-height: 1.2;
		@media @xs {
			padding: 10px 0;
			background: darken(@c2,5%);
		}
		&:hover{
			&:before{
				color: @c8;
			}
		}
		&:before{
			.fi;
			.transition(0.2s);
			content: '\e81e';
			position: absolute;
			top: 50%;
			right: 18px;
			font-size: 33px;
			line-height: 1;
			margin: -19px 0 0;
			@media @xs {
				position: static;
				display: block;
				margin: auto;
			}
		}
		&:after{
			content: '';
			position: absolute;
			right: 0;
			top: 25px;
			bottom: 25px;
			border-right: 1px solid #fff;
			@media @xs {
				display: none;
			}
		}
		mark {
			font-size: 21px;
			color: #fff;
			font-weight: bold;
		}
	}
}
.mod_custom-slideshow {
	position: relative;
	overflow: hidden;
	.items {
		.item {
			width: 100%;
			overflow: hidden;
			figure {
				@media @xs {
					width: 140%;
					margin: 0 -20%;
				}
				img {
					display: block;
				}
			}
			nav {
				position: absolute;
				bottom: 23%;
				right: 50%;
				text-transform: uppercase;
				font-size: 24px;
				line-height: 1.2;
				width: 300px;
				margin: 0 85px 0 0;
				text-align: right;
				@media @md  {
					bottom: 10%;
				}
				@media @sm {
					bottom: 10%;
					margin: 0;
					text-align: center;
				}
				@media @xs {
					position: static;
					width: auto;
					text-align: center;
					margin: 0;
					font-weight: normal;
				}
				a {
					.transition(0.2s);
					display: block;
					position: relative;
					padding: 0 105px 0 0;
					color: @c5;
					text-decoration: none;
					@media @sm {
						padding: 0;
					}
					@media @xs {
						padding: 0;
						color: @c2;
					}
					&:hover{
						color: #fff;
						&:before{
							background: #fff;
						}
					}
					&:before{
						.transition(0.2s);
						.fi;
						.border-radius(50%);
						content: '\e807';
						position: absolute;
						top: 50%;
						right: 0;
						width: 80px;
						height: 80px;
						line-height: 80px;
						margin: -36px 0 0;
						text-align: center;
						font-size: 38px;
						color: @c10;
						background: @c6;
						@media @sm, @xs {
							display: none;
						}
					}
				}
			}
		}
	}
	.pager {
		position: absolute;
		z-index: 999;
		left: 0;
		right: 0;
		bottom: 10px;
		@media @sm, @xs {
			display: none;
		}
		span {
			.border-radius(50%);
			.box-shadow(1px 1px 0 fade(@c2,40%));
			display: inline-block;
			text-indent: -9999px;
			width: 17px;
			height: 17px;
			margin: 0 4px;
			border: 3px solid #000;
			background: #000;
			cursor: pointer;
			&.cycle-pager-active {
				background: @c6;
			}
		}
	}
	.prev, .next {
		.border-radius(50%);
		.transition(0.2s);
		.box-shadow(inset -5px 0 0 fade(#000,20%));
		position: absolute;
		top: 50%;
		left: -48px;
		z-index: 999;
		width: 96px;
		height: 96px;
		line-height: 96px;
		padding: 0 0 0 36px;
		margin: -48px 0 0;
		text-align: center;
		font-size: 36px;
		color: @c10;
		background: @c6;
		@media @xs {
			display: none;
		}
		&:hover{
			background: #fff;
		}
		&:before{
			.fi;
			content: '\e803';
		}
	}
	.next {
		.box-shadow(inset 5px 0 0 fade(#000,20%));
		left: auto;
		right: -48px;
		padding: 0 36px 0 0;
		&:before{
			content: '\e804';
		}
	}
}
.mod_custom-categories {
	margin: 63px 0 69px;
	.items {
		text-align: center;
		margin: 0 -10px;
		.item {
			display: inline-block;
			vertical-align: top;
			width: 33.3333%;
			padding: 0 20px;
			margin: 0 -2px 5px;
			@media @sm {
				width: 50%;
			}
			@media @xs {
				display: block;
				width: auto;
				padding: 0 10%;
				margin: 0;
			}
			a {
				display: block;
				position: relative;
				text-decoration: none;
				color: @c1;
				figure {
					img {
						display: block;
						margin: 0 auto;
					}
				}
				h2 {
					position: absolute;
					top: 50%;
					left: 0;
					right: 0;
					height: 97px;
					line-height: 97px;
					font-size: 24px;
					margin: -52px 0 0;
					white-space: nowrap;
					text-transform: uppercase;
					background: url(../images/bg/01.png) no-repeat top;
					@media @md, @xs {
						font-size: 22px;
					}
				}
			}
		}
	}
}
.mod_custom-popular {
	padding: 0 0 100px;
	background: url(../images/bg/02.jpg) top;
	.mod-title {
		text-align: center;
		text-transform: uppercase;
		font-size: 36px;
		line-height: 1;
		height: 89px;
		margin: 0 0 33px;
		background: url(../images/bg/03.png) no-repeat top;
		@media @xs {
			margin: 30px 0 0;
			padding: 20px 0;
			height: auto;
			background: #fff;
		}
	}
	.eshop-items {
		.item {
			width: 25%;
			&:hover{
				background: none;
			}
			a {
				.box-shadow(0 0 6px fade(#000,50%));
				border: 0;
			}
		}
	}
}
.eshop-items {
	text-align: center;
	margin: 0 -10px;
	.eshop-title {
		text-align: left;
		margin: 0 0 30px;
	}
	.eshop-description {
		text-align: left;
		margin: 0 0 50px;
	}
	.eshop-meta {
		text-align: left;
		font-size: 16px;
		margin: 0 0 25px;
		mark {
			color: @c2;
			font-weight: bold;
		}
	}
	.eshop-filter {
		.clearfix;
		text-align: left;
		padding: 20px 30px;
		margin: 0 0 20px;
		background: @c3;
		.order {
			display: inline-block;
			vertical-align: middle;
			width: 50%;
			margin: 0 -4px 0 0;
			font-size: 16px;
			label {
				display: inline-block;
				vertical-align: middle;
				width: 30%;
			}
			.input {
				display: inline-block;
				vertical-align: middle;
				width: 50%;
			}
		}
		.view {
			display: inline-block;
			vertical-align: middle;
			width: 50%;
			margin: 0 -4px 0 0;
			text-align: right;
			font-size: 16px;
			ul {
				.rul;
				display: inline-block;
				margin: 0 0 0 10px;
				li {
					.rli;
					display: inline-block;
					font-size: 28px;
					.icon-th-thumb {
						font-size: 24px;
					}
					&.act {
						a {
							color: @c5;
						}
					}
					a {
						color: @c1;
						text-decoration: none;
					}
				}
			}
		}
	}
	.carousel-items {
		margin: 0 5px;
		@media @md, @sm {
			margin: 0 50px;
		}
		@media (max-width:560px) {
			margin: 0 10%;
		}
		@media (max-width:420px) {
			margin: 0;
		}
		.cycle-carousel-wrap {
			position: relative!important;
		}
		.item {
			width: 285px;
			white-space: normal;
			@media @md {
				width: 284px;
			}
			@media @sm {
				width: 314px;
			}
			@media @xs {
				width: auto;
			}
			a {
				@media @xs {
					margin: 0 20%;
				}
				@media (max-width:560px) {
					margin: 0 10%;
				}
				@media (max-width:420px) {
					margin: 0;
				}
			}
			&.cycle-sentinel {
				display: none!important;
			}
		}
	}
	.prev, .next {
		position: absolute;
		z-index: 101;
		top: 57%;
		left: -60px;
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 36px;
		color: @c1;
		text-decoration: none;
		text-align: center;
		@media @md, @sm {
			left: 10px;
		}
		@media @xs {
			left: 10%;
		}
		@media (max-width:560px) {
			display: none;
		}
		&:before{
			.fi;
			content: '\e803';
		}
	}
	.next {
		left: auto;
		right: -60px;
		@media @md, @sm {
			left: auto;
			right: 10px;
		}
		@media @xs {
			left: auto;
			right: 10%;
		}
		&:before{
			content: '\e804';
		}
	}
	.item {
		.transition(0.2s);
		position: relative!important;
		width: 33.3333%;
		padding: 10px;
		display: inline-block;
		margin: 0 -2px;
		text-align: left;
		&:hover{
			background: @c3;
			a {
				background: @c4;
			}
		}
		a {
			.transition(0.2s);
			position: relative;
			overflow: hidden;
			display: block;
			text-decoration: none;
			color: @c1;
			padding: 0 0 56px;
			border: 1px solid @c3;
			background: #fff;
			figure {
				position: relative;
				img {
					display: block;
				}
				.discount {
					.border-radius(0 0 6px 0);
					position: absolute;
					left: 0;
					top: 0;
					padding: 17px 1px 17px 8px;
					font-size: 21px;
					line-height: 1;
					height: 60px;
					color: #fff;
					background: @c2;
					&:before{
						position: absolute;
						content: '';
						left: 100%;
						top: 0;
						border-right: 16px solid transparent;
						border-top: 54px solid @c2;
					}
					strong {
						font-weight: 800;
					}
				}
				.labels {
					position: absolute;
					left: 0;
					bottom: 0;
				}
			}
			.content {
				.box-shadow(0 0 4px fade(#000,20%));
				position: relative;
				padding: 18px 23px 26px;
				font-size: 14px;
				line-height: 1.3;
				font-weight: normal;
				background: @c3;
				h2 {
					color: @c2;
					text-transform: uppercase;
					font-size: 16px;
					font-weight: bold;
					margin: 0 0 8px;
				}
				.description {
					
				}
			}
			.param {
				padding: 20px 23px;
				.availability {
					position: relative;
					display: inline-block;
					vertical-align: top;
					width: 50%;
					margin: 0 -4px 10px 0;
					padding: 0 0 0 28px;
					font-size: 14px;
					[class^="icon-"] {
						position: absolute;
						top: 0;
						left: 0;
						font-size: 20px;
						line-height: 1;
					}
					strong {
						text-transform: uppercase;
					}
					&.success {
						color: @c9;
					}
					&.error {
						color: @c2;
					}
				}
				.attr {
					display: inline-block;
					vertical-align: top;
					width: 50%;
					margin: 0 -4px 10px 0;
					font-size: 14px;
					text-align: right;
					font-weight: normal;
				}
				.price {
					font-size: 13px;
					font-weight: normal;
					mark {
						font-size: 18px;
						margin: 0 6px 0 3px;
						strong {
							color: @c2;
							font-size: 24px;
							font-weight: 900;
						}
					}
				}
			}
		}
		.buy {
			.clearfix;
			position: absolute;
			bottom: 10px;
			left: 10px;
			right: 10px;
			@media @xs {
				left: 20%;
				right: 20%;
				padding: 0 5px;
			}
			@media (max-width:560px) {
				padding: 0 8px;
				left: 10%;
				right: 10%;
			}
			@media (max-width:420px) {
				padding: 0 10px;
				left: 0;
				right: 0;
			}
			input[type="text"],input[type="number"] {
				float: left;
				width: 23%;
				text-align: center;
				padding: 0;
				margin: 10px 0 0 14px;
			}
			button {
				float: right;
				height: 60px;
				padding: 0 20px;
				&:before{
					.fi;
					content: '\e81e';
					float: right;
					font-size: 24px;
					margin: 0 -4px 0 10px;
				}
			}
		}
	}
}
.mod_custom-recently {
	padding: 85px 0;
	.mod-title {
		text-align: center;
		font-size: 36px;
		line-height: 1.2;
		text-transform: uppercase;
		margin: 0 0 60px;
	}
	.items {
		text-align: center;
		margin: 0 -10px;
		.item {
			display: inline-block;
			width: 25%;
			padding: 0 10px;
			margin: 0 -2px 20px;
			@media @sm {
				width: 50%;
			}
			@media @xs {
				width: auto;
			}
			a {
				.box-shadow(0 0 6px fade(#000,40%));
				display: block;
				background: #fff;
				text-decoration: none;
				&:hover{
					figure {
						&:before{
							-webkit-opacity: 1;
							-moz-opacity: 1;
							opacity: 1;
							filter:alpha(opacity=100);
						}
						&:after{
							top: 0%;
							left: 0%;
							right: 0%;
							bottom: 0%;
						}
					}
				}
				figure {
					position: relative;
					&:before{
						.fi;
						.border-radius(50%);
						.transition(0.6s);
						content: '\e80d';
						position: absolute;
						z-index: 1;
						top: 50%;
						left: 50%;
						margin: -45px 0 0 -45px;
						width: 90px;
						height: 90px;
						line-height: 86px;
						color: @c5;
						font-size: 36px;
						border: 2px solid #fff;
						-webkit-opacity: 0;
						-moz-opacity: 0;
						opacity: 0;
						filter:alpha(opacity=0);
					}
					&:after{
						.transition(0.1s);
						content: '';
						position: absolute;
						top: 50%;
						left: 50%;
						right: 50%;
						bottom: 50%;
						background: fade(@c7,80%);
					}
					img {
						display: block;
						margin: auto;
					}
				}
				h2 {
					padding: 19px 10px;
					margin: 0;
					font-size: 16px;
					font-weight: bold;
					text-transform: uppercase;
				}
			}
		}
	}
}
.mod_custom-contact {
	display: inline-block;
	margin: 0 -4px 50px 0;
	padding: 0 10px 0 0;
	width: 33%;
	color: #fff;
	@media @md, @sm {
		width: 50%;
	}
	@media @xs {
		display: block;
		width: auto;
		margin-right: 0;
		padding: 0;
	}
	.mod-title {
		font-size: 30px;
		line-height: 1.2;
		letter-spacing: 0.02em;
		font-weight: normal;
		color: @c5;
		margin: 0 0 30px;
		@media @sm {
			font-size: 28px;
		}
	}
	.address {
		position: relative;
		font-weight: normal;
		font-size: 17px;
		padding: 0 0 0 95px;
		margin: 0 0 20px;
		&:before{
			.fi;
			content: '\e80f';
			position: absolute;
			left: 13px;
			top: 11px;
			font-size: 32px;
			line-height: 1;
			color: @c5;
		}
		&:after{
			.fi;
			content: '\e81c';
			position: absolute;
			top: -15px;
			left: -11px;
			font-size: 82px;
			line-height: 1;
		}
	}
	.phone {
		position: relative;
		padding: 0 0 0 95px;
		margin: 0 0 20px;
		font-size: 16px;
		line-height: 1.2;
		font-weight: normal;
		&:before{
			.fi;
			content: '\e810';
			position: absolute;
			left: 11px;
			top: 25px;
			font-size: 28px;
			line-height: 1;
			color: @c5;
		}
		&:after{
			.fi;
			content: '\e81c';
			position: absolute;
			top: -3px;
			left: -11px;
			font-size: 82px;
			line-height: 1;
		}
		mark {
			color: @c5;
		}
		span {
			font-weight: 300;
			font-size: 36px;
			@media @sm {
				font-size: 30px;
			}
		}
	}
	.vat {
		font-weight: normal;
		padding: 0 0 0 95px;
		font-size: 17px;
		line-height: 1.3;
		mark {
			color: #fff;
			margin: 0 0 0 10px;
		}
	}
}
.mod_menu-info {
	display: inline-block;
	vertical-align: top;
	width: 21.5%;
	margin: 0 -4px 50px 0;
	padding: 0 10px;
	color: #fff;
	@media @md, @sm {
		width: 50%;
	}
	@media @xs {
		display: block;
		width: auto;
		margin-right: 0;
		padding: 0;
	}
	.mod-title {
		font-size: 30px;
		line-height: 1.2;
		font-weight: normal;
		margin: 0 0 35px;
		letter-spacing: 0.02em;
		@media @sm {
			font-size: 28px;
		}
	}
	ul {
		.rul;
		li {
			.rli;
			font-weight: normal;
			padding: 0 0 0 20px;
			margin: 0 0 11px;
			font-size: 16px;
			line-height: 1.2;
			&:before{
				content: '\e804';
				color: @c5;
				font-size: 15px;
				top: 1px;
			}
			a {
				color: #fff;
			}
		}
	}
}
.mod_custom-facebook {
	display: inline-block;
	vertical-align: top;
	width: 24%;
	margin: 0 -4px 50px 0;
	color: #fff;
	@media @md, @sm {
		width: 50%;
	}
	@media @xs {
		display: block;
		width: auto;
		margin-right: 0;
	}
	.mod-title {
		position: relative;
		font-size: 30px;
		line-height: 1.2;
		font-weight: normal;
		padding: 0 50px 0 0;
		margin: 0 0 30px;
		letter-spacing: 0.02em;
		@media @md {
			padding-top: 15px;
		}
		@media @sm {
			font-size: 28px;
		}
		&:before{
			.fi;
			content: '\e811';
			position: absolute;
			right: 22px;
			top: 22px;
			font-size: 32px;
			line-height: 1;
			color: @c5;
		}
		&:after{
			.fi;
			content: '\e820';
			position: absolute;
			top: -5px;
			right: -11px;
			font-size: 82px;
			line-height: 1;
		}
		a {
			color: @c5;
			text-decoration: none;
			&:hover{
				color: #fff;
			}
		}
	}
	ul {
		.rul;
		margin: 0 0 0 -15px;
		li {
			.rli;
			display: inline-block;
			width: 24%;
			padding: 0 0 0 15px;
			margin: 0 -4px 0 0;
			@media @md {
				width: 18%;
			}
			img {
				.border-radius(50%);
				display: block;
				border: 1px solid @c5;
			}
		}
	}
}
.mod_menu-main {
	margin: 0 0 20px;
	border-bottom: 10px solid @c4;
	.toggle {
		.btn;
		display: none;
		text-align: center;
		width: 100%;
		margin: 0 0 10px;
		font-size: 26px;
		height: 50px;
		line-height: 50px;
		cursor: pointer;
		@media @sm, @xs {
			display: block;
			.mod_menu-main-on & {
				&:before{
					content: '\e80b';
				}
			}
		}
		&:before{
			.fi;
			content: '\e80c';
			font-weight: normal;
			margin: 0 10px 0 0;
		}
	}
	&>ul {
		.rul;
		@media @sm, @xs {
			display: none;
			.mod_menu-main-on & {
				display: block;
			}
		}
		&>li {
			.rli;
			&.act {
				&>a {
					font-weight: 600;
					color: @c2;
					background: lighten(@c4,3%);
					&:before{
						content: '';
						position: absolute;
						left: 0;
						top: 20px;
						border: 9px solid transparent;
						border-left: 15px solid #fff;
					}
				}
			}
			&>a {
				position: relative;
				display: block;
				text-transform: uppercase;
				text-decoration: none;
				padding: 20px 27px 17px;
				font-size: 20px;
				line-height: 1.1;
				margin: 0 0 1px;
				color: @c1;
				background: @c4;
				&:hover{
					background: darken(@c4,5%);
				}
			}
			ul {
				.rul;
				position: relative;
				padding: 16px 0 20px 32px;
				margin: 0 0 1px;
				background: darken(@c4,3%);
				&:before{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					height: 14px;
					background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
					background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
					background: radial-gradient(ellipse at center,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
					background-repeat: no-repeat;
					background-position: 0 -7px;
				}
				li {
					.rli;
					padding: 0 0 0 20px;
					font-size: 16px;
					line-height: 1.1;
					font-weight: 600;
					border-top: 1px dashed lighten(@c1,50%);
					&:first-child {
						border: none;
					}
					&.act {
						a {
							color: @c2;
						}
					}
					&:before{
						top: 15px;
						border: 6px solid transparent;
						border-right-width: 0;
						border-left: 9px solid lighten(@c7,35%);
					}
					a {
						display: block;
						text-decoration: none;
						color: @c1;
						padding: 14px 10px 12px 0;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}
.mod_banners {
	@media @xs {
		display: none;
	}
	.items {
		text-align: center;
		@media @sm {
			margin: 0 -10px;
		}
		.item {
			margin: 0 0 20px;
			text-align: left;
			@media @sm {
				display: inline-block;
				width: 50%;
				margin: 0 -2px;
				padding: 0 10px;
			}
			a {
				display: block;
				position: relative;
				overflow: hidden;
				color: #fff;
				text-decoration: none;
			}
			figure {
				img {
					display: block;
				}
			}
			.label-top {
				.border-radius(0 0 0 6px);
				position: absolute;
				z-index: 1;
				top: 12px;
				right: 0;
				padding: 0 15px 10px;
				font-size: 20px;
				line-height: 1;
				text-transform: uppercase;
				font-weight: 900;
				text-align: right;
				min-width: 39%;
				background: @c2;
				&.label-top-action {
					background: @c8;
					&:before{
						background: @c8;
					}
					&:after{
						border-top-color: @c8;
					}
				}
				&.label-top-new {
					background: @c9;
					&:before{
						background: @c9;
					}
					&:after{
						border-top-color: @c9;
					}
				}
				&:before{
					content: '';
					position: absolute;
					bottom: 100%;
					right: 0;
					width: 999em;
					height: 12px;
					background: @c2;
				}
				&:after{
					content: '';
					position: absolute;
					right: 100%;
					bottom: 6px;
					border-left: 20px solid transparent;
					border-top: 50px solid @c2;
				}
			}
			.mod-title {
				.border-radius(0 0 6px 0);
				position: absolute;
				top: 12px;
				left: 0;
				font-size: 21px;
				line-height: 1.2;
				font-weight: 600;
				letter-spacing: 0.01em;
				padding: 14px 6px 12px 17px;
				background: @c2;
				&:after{
					content: '';
					position: absolute;
					left: 100%;
					bottom: 6px;
					border-right: 32px solid transparent;
					border-top: 160px solid @c2;
				}
				strong {
					font-weight: 900;
				}
			}
		}
	}
}
.mod_breadcrumbs {
	margin: 0 0 35px;
	border-bottom: 1px solid @c4;
	ul {
		.rul;
		margin: -6px 0 10px;
		li {
			display: inline-block;
			font-weight: normal;
			font-size: 15px;
			line-height: 1;
			padding: 0 0 10px 28px;
			margin: 0 10px 0 0;
			font-weight: bold;
			&.home {
				padding-left: 35px;
				&:before{
					content: '\e819';
					font-size: 21px;
					top: -3px;
				}
			}
			&:before{
				top: 0;
				font-size: 17px;
				color: @c5;
				font-weight: normal;
			}
			a {
				color: @c1;
				font-weight: normal;
			}
		}
	}
}
.detail-image {
	position: relative;
	width: 50%;
	padding: 10px 20px 50px 0;
	float: left;
	@media @xs {
		float: none;
		width: auto;
		padding: 0 0 50px;
	}
	.discount {
		.border-radius(0 0 6px 0);
		position: absolute;
		z-index: 1;
		left: 1px;
		top: 1px;
		padding: 0 5px 0 10px;
		height: 60px;
		line-height: 60px;
		font-weight: 900;
		font-size: 21px;
		color: #fff;
		background: @c2;
		&:before{
			content: '';
			position: absolute;
			left: 100%;
			top: 0;
			border-bottom: 54px solid transparent;
			border-left: 12px solid @c2;
		}
	}
	figure {
		position: relative;
		text-align: center;
		img {
			display: block;
			margin: auto;
			border: 1px solid @c4;
		}
		a {
			&:hover{
				img {
					border-color: @c2;
				}
			}
		}
	}
	.labels {
		position: absolute;
		bottom: 1px;
		left: 1px;
		.label {
			height: 34px;
			line-height: 34px;
			font-size: 16px;
			&:before{
				border-bottom-width: 29px;
			}
		}
	}
	.thumbnails {
		.rul;
		margin: 10px -5px;
		li {
			.rli;
			display: inline-block;
			width: 25%;
			vertical-align: top;
			padding:  0 5px 10px;
			margin: 0 -4px 0 0;
			img {
				display: block;
				border: 1px solid @c4;
			}
			a {
				&:hover{
					img {
						border-color: @c2;
					}
				}
			}
		}
	}
}
.detail-description {
	position: relative;
	width: 50%;
	padding: 0 0 50px 20px;
	float: left;
	font-weight: normal;
	font-size: 16px;
	@media @xs {
		float: none;
		width: auto;
		padding: 0;
	}
	h1 {
		.fh;
		font-size: 36px;
		margin: 0 0 35px;
	}
	.more {
		font-size: 16px;
		line-height: 1;
		text-align: right;
		font-weight: 600;
		margin: -5px 0 28px;
		a {
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
			&:before{
				.fi;
				content: '\e816';
				float: right;
				font-size: 24px;
				margin: -3px 0 0 10px;
			}
		}
	}
	table.info {
		width: 100%;
		margin: 30px 0;
		tr {
			th, td {
				padding: 3px 0;
				font-size: 15px;
				line-height: 1.2;
			}
			th {
				width: 35%;
				padding-right: 10px;
			}
			td {
				mark {
					color: @c3;
				}
			}
		}
	}
	table.options {
		width: 100%;
		margin: 0 0 20px;
		tr {
			&:first-child {
				th, td {
					border-top: 0;
				}
			}
			th, td {
				padding: 5px 0;
				line-height: 1.2;
				border-top: 1px solid #e5e5e5;
			}
			th {
				width: 35%;
				padding-right: 10px;
			}
			td {
				
			}
		}
	}
	.price {
		position: relative;
		padding: 15px 0 0;
		color: #000;
		background: @c3;
		.discount {
			.border-radius(0 0 0 6px);
			position: absolute;
			z-index: 1;
			right: 0;
			top: 0;
			padding: 0 10px 0 5px;
			height: 60px;
			line-height: 60px;
			font-weight: 900;
			font-size: 21px;
			color: #fff;
			background: @c2;
			@media @md, @sm {
				position: relative;
				float: right;
				margin: -15px 0 0;
			}
			&:before{
				content: '';
				position: absolute;
				right: 100%;
				top: 0;
				border-bottom: 54px solid transparent;
				border-right: 12px solid @c2;
			}
		}
		table {
			width: 100%;
			tr {
				th, td {
					padding: 5px 0;
					font-size: 14px;
					line-height: 1.2;
					vertical-align: middle;
				}
				th {
					padding-left: 35px;
				}
				td {
					padding-left: 15px;
					mark {
						color: @c2;
					}
					.lead {
						font-size: 36px;
					}
				}
				&.availability {
					th, td {
						background: @c4;
						padding-top: 10px;
						padding-bottom: 15px;
						border-top: 20px solid @c3;
					}
					.text-success, .text-error {
						text-transform: uppercase;
						font-weight: bold;
					}
				}
			}
		}
	}
	.variant {
		margin: 0 0 30px;
		h2 {
			font-size: 22px;
		}
		.selectboxit {
			height: 77px;
			padding-top: 17px;
			.selectboxit-option-icon-container {
				.selectboxit-option-icon-url {
					float: left;
					width: 62px;
					height: 62px;
					margin: -10px 40px -10px -10px;
				}
			}
			mark {
				color: @c9;
			}
		}
		.selectboxit-options {
			li {
				a {
					.selectboxit-option-icon-url {
						width: 40px;
						height: 40px;
					}
				}
			}
		}
	}
	.basket {
		.clearfix;
		height: 86px;
		background: @c3;
		input[type="text"],input[type="number"] {
			float: left;
			width: 25%;
			text-align: center;
			height: 54px;
			margin: 15px 0 0 7%;
			font-size: 18px;
			@media @md, @sm, @xs {
				width: 60%;
				margin: 15px 20% 0;
			}
		}
		button {
			float: right;
			width: 59%;
			padding: 0;
			height: 86px;
			font-size: 24px;
			@media @md, @sm, @xs {
				margin-top: 10px;
				width: 100%;
			}
			&:before{
				.fi;
				content: '\e81e';
				float: right;
				font-weight: normal;
				font-size: 34px;
				margin: 0 15px 0 0;
			}
		}
	}
}
.panes {
	margin: 0 0 0 -40px;
	@media @sm, @xs {
		margin: 20px 0;
	}
	.tabs {
		.rul;
		.clearfix;
		border-bottom: 10px solid @c4;
		li {
			.rli;
			float: left;
			margin: 0 -1px 0 0;
			@media @xs {
				float: none;
			}
			&.cycle-pager-active {
				a {
					color: @c2;
					background: @c4;
				}
			}
			a {
				display: block;
				background: @c4;
				padding: 28px 20px;
				text-decoration: none;
				color: #000;
				font-size: 18px;
				line-height: 1;
				white-space: nowrap;
				font-weight: 600;
				border: 1px solid @c4;
				background: #fff;
				@media @md {
					padding: 20px 20px;
					font-size: 15px;
				}
				@media @sm, @xs {
					padding: 15px 18px;
					font-size: 15px;
				}
			}
		}
	}
	.pane {
		padding: 40px 40px 40px;
		font-size: 16px;
		font-weight: normal;
		@media @sm, @xs {
			padding-left: 0;
			padding-right: 0;
		}
		&.cycle-slide {
			position: static!important;
			display: none!important;
			&.cycle-slide-active {
				display: block!important;
			}
		}
	}
}
#page-footer {
	padding: 43px 0 100px;
	@media @xs {
		padding-bottom: 40px;
	}
	.copy {
		float: left;
		font-size: 13px;
		font-weight: normal;
	}
	.xart {
		float: right;
		text-transform: uppercase;
		font-size: 11px;
		font-weight: normal;
		a {
			color: @c1;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
		img {
			float: right;
			width: 14px;
			margin: 0 0 0 11px;
		}
	}
}
.mod_cookies {
	position: fixed;
	z-index: 999;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
	font-size: 15px;
	line-height: 1.2;
	background: fade(@c7,90%);
	@media @xs {
		position: static;
		margin: 40px 0 0;
	}
	a {
		color: #fff;
	}
	p {
		margin: 5px 0;
	}
	nav {
		position: absolute;
		bottom: 100%;
		right: 20px;
		a {
			.btn;
			background: fade(@c2,80%);
		}
	}
}
#gotop{
	@media @xs {
		display: none;
	}
	a{
		.transition(0.2s);
		.border-radius(50%);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @cl;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e808';
			font-size: 20px;
		}
		&:hover{
			background: darken(@cl,10%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}