nav.more{
	margin: 20px 0;
	text-align: right;
	a{
		.btn;
		&:after{
			.fi;
			position: relative;
			content: '\e807';
			margin: 0 0 0 10px;
		}
	}
}
table.normal{
	margin:0 0 20px 0;
	width:100%;
	font-size: 15px;
	font-weight: normal;
	background: @c3;
	th,td{
		padding:6px 8px;
		border:1px solid lighten(@cp,100%);
		font-weight:normal;
	}
	&.compact th,&.compact td{
		padding:2px 8px;
	}
	tr:nth-child(odd) td{
		background: @c4;
	}
	th,thead td{
		font-weight: bold;
		color: #fff;
		background: @c6!important;
		a{
			color: #fff;
		}
	}
	tfoot td{
		background: @c5!important;
	}
}
table.info{
	margin:0 0 20px 0;
	td,th{
		padding:0 7px 0 0;
	}
}
form.normal{
	margin:0 0 20px 0;
	label{
		display:block;
		margin:0 0 10px 0;
		font-weight:bold;
	}
	.optgroup label{
		display:inline;
		font-weight:normal;
	}
	input.input-mini{
		width:25px;
		padding-left:0;
		padding-right:0;
		text-align:center;
	}
	input.input-small{
		width:125px;
	}
	input.input-large{
		width:300px;
	}
	.fileinputs{
		position: relative;
		display: inline-block;
		overflow: hidden;
		cursor: default;
		input.type-file{
			position:absolute;
			top: 0;
			right: 0;
			margin: 0;
			padding: 0;
			border: 0;
			width: 100%;
			height: 100%;
			font-size: 100px;
			z-index: 1;
			cursor: default;
			-webkit-opacity: 0;
			-moz-opacity: 0;
			opacity: 0;
			filter: alpha(opacity=0);
		}
		.fakefile {
			.clearfix;
			display: inline-block;
			.input-file-text{
				.border-radius(6px 0 0 6px);
				border-right: 0;
				float: left;
				margin-right: 0;
				padding-right: 0;
				width: inherit;
			}
			input[type="button"] {
				float: left;
			}
		}
	}
}
.search-results .highlight,.results .highlight{
	background: @c7;
	padding: 0 3px;
	color: #fff;
}
.pagehub{
	clear: both;
	text-align: center;
	padding: 50px 0;
	a,span{
		.border-radius(50%);
		.transition(0.2s);
		display: inline-block;
		vertical-align: middle;
		padding: 0;
		width: 40px;
		height: 40px;
		line-height: 38px;
		font-size: 15px;
		text-decoration: none;
		font-weight: normal;
		color: @c1;
		border: 1px solid lighten(@c1,30%);
		&.first, &.prev, &.next, &.last {
			width: 50px;
			height: 50px;
			line-height: 38px;
			font-size: 40px;
			color: #fff;
			border-color: @c7;
			background: @c7;
			&:hover{
				color: @c7;
			}
		}
	}
	a {
		&:hover{
			background: @c3;
		}
	}
	span.pagenav{
		font-weight: bold;
		color: #fff;
		border-color: @c2;
		background: @c2;
	}
	span.pagenav-ico{
		cursor: default;
		border-color: lighten(@cp,70%);
		background: lighten(@cp,70%);
		&:hover{
			color: #fff;
		}
	}
}
.clear-decor,.description_separator,.article_separator{
	clear: both;
	margin: 30px 0;
	height: 4px;
	background: @c4;
}
img.img-left,img[align=left]{
	float: left;
	margin: 0 15px 5px 0;
}
img.img-right,img[align=right]{
	float: right;
	margin: 0 0 5px 15px;
}
a.xeditorpopup img{
	.transition(0.2s);
	border: 4px solid @c4;
}
a.xeditorpopup:hover img{
	border-color: @c2;
}
#system-message dt{
	display:none;
}
#system-message{
	.message{
		padding: 8px 14px;
		margin: 0 0 15px 0;
		font-size: 15px;
		font-weight: normal;
		color: #fff;
		background: @c6;
		ul{
			.rul;
			li{
				.rli;
			}
		}
	}
	.notice{
		background: @c7;
	}
	.warning,.error{
		background: @c2;
	}
}
